body {
  background: rgb(224, 224, 224);
}
p {
  word-wrap: break-word;
}
a {
  color: inherit;
  word-wrap: break-word;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

.nav-flex-container1 {
  background: #242424;
  height: 100px;
  display: -ms-flexbox;
  padding: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.img {
  margin: auto;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.flex-item:nth-child(1) {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-flex: 4 4 auto;
  -ms-flex: 4 4 auto;
  flex: 4 4 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.flex-item:nth-child(2) {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  -webkit-flex: 4 4 auto;
  -ms-flex: 4 4 auto;
  flex: 4 4 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

/*Components */
.navitems {
  display: inline-flex;
  color: white;
  margin: 0px;
  font-size: 15px;
  background: rgb(95, 95, 95);
  width: 100%;
  justify-content: center;
  padding: 5px;
}

.navList {
  padding-inline-end: 10px;
  padding-inline-start: 10px;
  list-style: none;
  text-decoration: none;
}
.description {
  font-size: 18px;
}
.search {
  background-size: cover;
  background-position: center;
  margin: auto;
  width: 100%;
  height: 300px;
  display: flex;
}
.go {
  height: 40px;
  align-self: center;
  margin: auto;
}
.searchBox {
  margin: auto;
  width: 300px;
  margin: 10px;
}
.searchBar {
  margin: auto;
}

.resultContainer {
  background: rgb(255, 255, 255);
  width: 70%;
  margin: auto;
  padding: 10px;
}
.resultData {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: auto;
}
.singularResult {
  padding: 10px;
}

.dataContainer {
  background: rgb(255, 255, 255);
  width: 70%;
  margin: auto;
  padding: 10px;
  display: flex;
}

.infoSection {
  background: white;
  width: 75%;
  padding: 20px;
}
.infoBar {
  background: rgb(35, 43, 43);
  height: 1000px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image {
  width: 80%;
  padding-top: 10%;
  padding-bottom: 0px;
  margin-left: 10%;
  margin-right: 10%;
}

/*table*/
.infoTable {
  color: white;
  width: 90%;
  margin-left: auto;
}

.yes {
  color: rgb(45, 212, 45);
}
.no {
  color: red;
}

#contributors {
  color: #535353;
}

#makeItWhite {
  color: white;
}

#widthSet {
  width: 70%;
}
#widthSet2 {
  width: 30%;
}

#imgCred {
  color: rgb(179, 179, 179);
  font-size: 10px;
  font-style: italic;
  text-align: center;
}

#heart {
  width: 20px;
  margin: 10px;
}

#likes {
  font-size: 10px;
}

#space {
  display: block;
  margin: auto;
  border-style: inset;
  border-width: 1px;
}
