@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
}
body {
  background-image: url("./bg.jpg");
}

p {
  word-wrap: break-word;
}
a {
  color: inherit;
  word-wrap: break-word;
}
/* a:hover {
  color: #007bff;
  text-decoration: none;
} */
button {
  border-radius: 5px;
}

input {
  text-align: center;
}

.nav-flex-container1 {
  background: #242424;
  height: 125px;
  display: -ms-flexbox;
  padding: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.img {
  margin: auto;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.flex-item:nth-child(1) {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-flex: 4 4 auto;
  -ms-flex: 4 4 auto;
  flex: 4 4 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.flex-item:nth-child(2) {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  -webkit-flex: 4 4 auto;
  -ms-flex: 4 4 auto;
  flex: 4 4 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

/*Components */
.navitems {
  display: flex;
  color: white;
  align-items: center;
  margin: 0px;
  font-size: 20px;
  background: rgb(95, 95, 95);
  width: 100%;
  justify-content: center;
  padding: 5px;
  height: 50px;
}

.navList {
  padding-inline-end: 10px;
  padding-inline-start: 10px;
  list-style: none;
  text-decoration: none;
}
.description {
  font-size: 18px;
}
.search {
  background: #212529;
  background-size: cover;
  background-position: center;
  margin: auto;
  width: 75%;
  height: 300px;
  display: flex;
  border-radius: 0 0 50px 50px;
}
.go {
  height: 40px;
  align-self: center;
  margin: auto;
}
.searchBox {
  margin: auto;
  width: 300px;
  margin: 10px;
}
.searchBar {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBar form {
  display: flex;
  flex-direction: column;
  margin-top: 25px;

  text-align: center;
}
.searchBar input {
  border-radius: 20px;
  height: 30px;
  border: none;
}

.searchBar form button {
  width: 100px;
  margin: auto;
}

.resultContainer {
  background: rgb(255, 255, 255);
  width: 70%;
  margin: auto;
  /* padding: 10px; */
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.resultData {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: auto;
  /* border-left: 1px solid black;
  border-right: 1px solid black; */
}

.resultContainer a {
  color: #007bff;
}
.singularResult {
  padding: 20px;
}

.dataContainer {
  background: rgb(255, 255, 255);
  width: 70%;
  margin: auto;
  padding: 10px;
  display: flex;
}

.infoSection {
  background: white;
  width: 75%;
  padding: 20px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
.infoBar {
  background: #212529;
  height: 1000px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image {
  width: 80%;
  padding-top: 10%;
  padding-bottom: 0px;
  margin-left: 10%;
  margin-right: 10%;
}

/*table*/
.infoTable {
  color: white;
  width: 90%;
  margin-left: auto;
}

.yes {
  color: rgb(45, 212, 45);
}
.no {
  color: red;
}

#contributors {
  color: #535353;
}

#makeItWhite {
  color: white;
}

#widthSet {
  width: 70%;
}
#widthSet2 {
  width: 30%;
}

#imgCred {
  color: rgb(179, 179, 179);
  font-size: 10px;
  font-style: italic;
  text-align: center;
}

#heart {
  width: 20px;
  margin: 10px;
}

#likes {
  font-size: 10px;
}

#space {
  display: block;
  margin: auto;
  border-style: inset;
  border-width: 1px;
}
.userDialogStyles {
  position: absolute;
  top: 5px;
  right: 20px;
  text-align: center;
  color: white;
  /* border-radius: 5px; */
  padding: 10px 30px 30px 44px;
  /* margin: auto; */
  height: 100px;
  /* margin: auto; */
}
.userDialogStyles2 {
  position: absolute;
  top: 0;
  display: flex;
  right: 10px;
  text-align: center;
  color: white;
  /* border-radius: 5px; */
  padding: 10px 30px 30px 44px;
  /* margin: auto; */
  height: 100px;
  /* margin: auto; */
}

.userDialogStyles > button {
  margin: 0px;
}

.warningText {
  color: rgb(235, 238, 48);
}

.newButton {
  background: #007bff;
  color: #fff;
  box-shadow: 0 6px #18476e;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 5px 20px;
  display: inline-block;
  margin: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
}
.newButton2 {
  background: #007bff;
  color: #fff;
  box-shadow: 0 6px #18476e;
  border: none;
  font-family: inherit;
  font-size: 0.5em;
  cursor: pointer;
  padding: 5px 20px;
  display: inline-block;
  margin: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
}
.newButton:hover {
  box-shadow: 0 4px #18476e;
  top: 2px;
}
.newButton2:hover {
  box-shadow: 0 4px #18476e;
  top: 2px;
}

.newButton:active {
  box-shadow: 0 0 #18476e;
  top: 6px;
}
.newButton2:active {
  box-shadow: 0 0 #18476e;
  top: 6px;
}

.aboutAboutThat {
  background: #212529;
  width: 75%;
  margin: auto;
  padding: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addModule {
  background: #212529;
  color: white;
  width: 50%;
  padding: 20px;
  margin: 10px;
  border-radius: 0 0 25px 25px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  margin: auto;
  text-align: center;
}

.addModule input {
  border-radius: 20px;
  border: none;
}

.contributionModule {
  background: white;
  padding: 10px;
  width: 45%;
  margin: 10px;
  border-radius: 50px;
  color: #212529;
}

/*Tablet*/
@media (max-width: 1100px) {
  .userDialogStyles {
    position: relative;
    background: #242424;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 50px;
    font-size: 0.75em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-radius: 0px;
  }
  .userDialogStyles2 {
    position: relative;
    top: 0px;
    right: 0px;
    background: #242424;
    width: 100%;
    height: 50px;
    font-size: 0.75em;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    border-radius: 0px;
  }
  .resultContainer {
    width: 100%;
  }
  .dataContainer {
    width: 100%;
  }
  .resultData {
    width: 100%;
  }
  .infoTable {
    font-size: 15px;
  }
  .search {
    width: 100%;
    border-radius: 0px;
  }
  .searchBox {
    width: 200px;
  }
  .addModule {
    width: 100%;
  }

  .newButton {
    font-size: 0.5em;
  }
}

/* MOBILE */
@media (max-width: 500px) {
  .search {
    background-size: cover;
    background-position: center;
    margin: auto;
    width: 100%;
    height: 300px;
    display: flex;
  }

  .resultContainer {
    width: 100%;
  }
  .dataContainer {
    width: 100%;
  }
  .resultData {
    width: 100%;
    flex-direction: column;
  }
  .infoTable {
    font-size: 15px;
    width: 50%;
  }
  .infoBar {
    height: inherit;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    /*Order in which div will display on phone*/
  }
  .infoSection {
    background: white;
    width: 100%;
    padding: 20px;
  }
  .image {
    width: 70%;
    justify-content: center;
    padding-bottom: 0px;
    margin-left: 30px;
  }

  #badge {
    width: 60%;
  }
}

@media (max-width: 1100px) {
  .resultContainer {
    width: 100%;
  }
  .dataContainer {
    width: 100%;
  }
  .resultData {
    width: 100%;
  }
  .infoTable {
    font-size: 15px;
  }
}
